@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Poppins:wght@300;600;700&display=swap');

:root{
    --orange:#F1991E;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--orange);
    border-radius: 5rem;
}

body {
    background: var(--bg-color-2);
}

body.active {
    --text-color-1:#fff;
    --text-color-2:#eee;
    --bg-color-1:#333;
    --bg-color-2:#222;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.4);
}

/* section{
    padding: 2rem 7%;
} */

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--orange);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top: 0%; left:0; right:0;
    background:var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img{
    max-width: 100px;
    max-height: 80px;
}

.header .search-form{
    background: var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 50rem;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: var(--text-color-1);
    padding: 1rem;
}

.header .search-form label{
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--text-color-1);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: 0.5rem;
    background: var(--bg-color-2);
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    color: #fff;
    background-color: var(--orange);
}

#search-btn{
    display: none;
}

.header .navbar {
    position: absolute;
    top: 115%; right: 7%; 
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active{
    transform: scale(1);
}

.header .navbar a{
    display: block;
    margin: 1rem;
    padding:1rem;
    font-size: 1.5rem;
    color: var(--text-color-1);
    border-radius: .5rem;
   
}

.header .navbar a:hover{
    color: var(--orange);
    background: var(--bg-color-2);
}

.header .login-form {
    position: absolute;
    top: 115%; right: 7%; 
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .login-form.active{
    transform: scale(1);
}


.header .login-form .inputBox {
    margin-bottom: 1rem;
}

.header .login-form .inputBox span {
    font-size: 1.7rem;
    color: var(--text-color-2);
}

.header .login-form .inputBox input {
    font-size: 1.5rem;
    color: var(--text-color-1);
    border-radius: .5rem;
    padding: 1rem;
    background: var(--bg-color-2);
    width: 100%;
    text-transform: none;
    margin: .5rem 0;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: .5rem 0;
}

.header .login-form .remember label{
    color: var(--text-color-2);
    font-size: 1.5rem;
    cursor: pointer;
}

.header .login-form .btn{
    width: 100%;
}

.home .image img{
    position: relative;
    width: 100%;
    height: 100vh;
}

.home .content{
    position: absolute;
    transform: translateY(-200%);
    padding-left: 50%;
    flex: 1 1 45rem;  
}

body .home .content h3{
    color: #fff;
    font-size: 4rem;
    text-transform: none;
}

body .home .content p {
    color: #eee;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 1rem 0 1rem 0;
    text-transform: none;
}





/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
        
    }

    .header{
        top: 0; left:0; right:0;
    }



}

@media (max-width:768px){
    .header .navbar{
        right: 2rem;
    }

    .header .login-form{
        right: 2rem;
    }

    #search-btn{
        display: inline-block;
    }

    .header .search-form{
        position: absolute;
        top: 115%; right: 2rem;
        background-color: var(--bg-color-1);
        border-radius: .5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform: scale(0);
        transform-origin: top right;
    }

    .header .search-form.active{
       transform: scale(1);
    }

    .home .image img{
        height: 90vh;
    }

    .home .content{
        position: absolute;
        transform: translateY(-200%);
        padding-left: 20%;
        flex: 1 1 45rem;  
        
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
        
    }

}





